
@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-SemiBold.woff2') format('woff2'),
        url('../fonts/Barlow-SemiBold.woff') format('woff'),
        url('../fonts/Barlow-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Bold.woff2') format('woff2'),
        url('../fonts/Barlow-Bold.woff') format('woff'),
        url('../fonts/Barlow-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fraunces';
    src: url('../fonts/Fraunces-9ptBlack.woff2') format('woff2'),
        url('../fonts/Fraunces-9ptBlack.woff') format('woff'),
        url('../fonts/Fraunces-9ptBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Regular.woff2') format('woff2'),
        url('../fonts/Barlow-Regular.woff') format('woff'),
        url('../fonts/Barlow-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Barlow';
    src: url('../fonts/Barlow-Medium.woff2') format('woff2'),
        url('../fonts/Barlow-Medium.woff') format('woff'),
        url('../fonts/Barlow-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-top: 130px;
    font-family: 'Fraunces', serif;
}

.img {
    display: inline-block;
}

/* HEADER */
.site-header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
}

.container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
}

/* SITE HEADER LOGO */
.site-header-right {
    display: flex;
    align-items: center;
}

.header-right-link {
    text-decoration: none;
}

.header-right-link:hover {
    opacity: 0.8;
}

.header-right-link:active {
    opacity: 0.6;
}

.header-logo-desc {
    margin-left: 8px;
    color:  #333D4B;
}

/* SITE HEADER NAV  */
.header-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-item + .header-item{
    margin-left: 32px;
}

.header-nav-link {
    font-family: Barlow;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #83888F;
    text-decoration: none;
}

.header-nav-link:hover {
    opacity: 0.8;
    color: #000;
}

.header-nav-link:active {
    opacity: 0.6;
    color: #000;
}


/* MAIN */
.site-main {
    flex-grow: 1;
}

/* HERO */
.hero-container {
    width: 1360px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-hero-backimg {
    background-image: url(../img/Bitmap.jpg);
    height: 600px;
    background-size: cover;
    border-radius: 5px;
}

/* HERO-RIGHT */
.hero-right {
    display: flex;
    flex-direction: column;
    margin-left: 85px;
    padding-top: 116px;
}

.hero-title {
    margin: 0;
    margin-bottom: 32px;
    width: 494px;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FEFCF7;
}

.heo-title:hover {
    opacity: 0.8;
}

.hero-desc {
    margin: 0;
    margin-bottom: 56px;
    width: 445px;
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
}

.hero-desc:hover {
    opacity: 0.8;
}

.main-btn {
    cursor: pointer;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    color: #FEFCF7;
    background-color: #0E8784;
    border: none;
    border-radius: 5px;
    width: 217px;
    height: 56px;
}

.main-btn:hover {
    opacity: 0.8;
}

.main-btn:active {
    opacity: 0.6;
}

/* SERVICES */
.services-container {
    width: 1151px;
    margin: 0 auto;
    padding: 0 20px;
}

.services-section {
    padding: 105px 0;
    background-image: url(../img/collection.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 1111px;
    height: 196px;
}

.services-list {
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 26px;
    padding: 0;
    list-style: none;
}

.services-item + .services-item {
    margin-left: 30px;
}

.services-list-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-img {
    margin-bottom: 72px;
}

.services-title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #333D4B;
}

.services-desc {
    margin: 0;
    font-family: Barlow;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #333D4B;
}

/* BITMAP */
.bitmap-section {
    margin-top: 450px;
}

.bitmap-container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-bitmap {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/Bitmap-back.png);
    height: 577px;
    background-size: cover;
    border-radius: 5px;
}

.bitmap-title {
    margin: 0;
    margin-top: 100px;
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    color: #FEFCF7;
}

.bitmap-desc {
    margin: 0;
    margin-bottom: 86px;
    width: 540px;
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
}

.bitmap-desc:hover {
    opacity: 0.8;
}

.bitmap-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.bitmap-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 72px 48px 48px;
    background-color: #0E8784;
    border-radius: 5px;
}

.bitmap-item + .bitmap-item {
    margin-left: 30px;
}

.bitmap-list-img {
    margin-bottom: 56px;
}

.bitmap-list-title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FEFCF7;
}

.bitmap-list-desc {
    margin: 0;
    font-family: Barlow;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FEFCF7;
    width: 255px;
}

/* WORKS */
.works-section {
    margin-top: 200px;
}

.works-container {
    width: 1085px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-works {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.works-top-title {
    margin: 0;
    margin-bottom: 80px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.works-line-img {
    width: 760px;
}

.works-top-list {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 98px;
    padding: 0;
    list-style: none;
}

.works-top-item + .works-top-item {
    margin-left: 349px;
}

.works-list {
    display: flex;
    align-items: center;
    margin: 0;
    margin-top: 67px;
    padding: 0;
    list-style: none;
}

.works-item + .works-item {
    margin-left: 95px;
}

.works-list-title {
    margin: 0;
    margin-bottom: 38px;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.works-item-title {
    margin: 0;
    margin-bottom: 42px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #333D4B;
    width: 255px;
}

.works-list-desc {
    margin: 0;
    font-family: Barlow;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    width: 285px;
}

.main-bottom-btn {
    margin-top: 64px;
    border: none;
}

/* FOOTER */
.footer-container {
    width: 1150px;
    margin: 0 auto;
    padding: 0 20px;
}

.footer-section {
    display: flex;
    align-items: center;
    margin-top: 200px;
    padding: 46px 85px;
    background-color: #2C343E;
}

.footer-logo {
    display: flex;
    align-items: center;
}

.foooter-logo-link {
    text-decoration: none;
}

.foooter-logo-link:hover {
    opacity: 0.8;
}

.foooter-logo-link:active {
    opacity: 0.6;
}

.footer-logo-desc {
    margin-left: 8px;
}

/* FOOTER LIST */
.footer-list {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 103px;
    padding: 0;
    list-style: none;
}

.footer-item + .footer-item {
    margin-left: 32px;
}

.footer-link {
    font-family: Barlow;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    text-decoration: none;
}

.footer-link:hover {
    color: #fff;
}

.footer-link:active {
    opacity: 0.6;
}

/* FOOTER-RIGHT-LIST */
.footer-right-list {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: auto;
    padding: 0;
    list-style: none;
}

.footer-right-item + .footer-right-item {
    margin-left: 20px;
}




/* ABOUT US */


/* HERO */
.about-hero-container {
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px 84px;
}

.about-hero {
    display: flex;
    flex-direction: column;
    padding: 137px 85px;
    background-image: url(../img/herocoffee.png);
    background-size: cover;
    border-radius: 5px;
    height: 450px;
}

.about-hero-title {
    margin: 0;
    margin-bottom: 24px;
    width: 188px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    cursor: pointer;
}

.about-hero-desc {
    margin: 0;
    width: 445px;
    font-family: Barlow;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    cursor: pointer;
}

.about-hero-desc:hover {
    opacity: 0.8;
}

/* ABOUT COMMITMENT */
.commitment-container {
    width: 1150px;
    margin: 0 auto;
    padding: 168px 20px;
}

.site-commitment {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.commitment-right {
    display: flex;
    flex-direction: column;
}

.commitment-title {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    cursor: pointer;
}

.commitment-desc {
    margin: 0;
    width: 540px;
    font-family: Barlow;
    font-size: 16px;
    line-height: 26px;
    cursor: pointer;
}

.commitment-desc:hover {
    opacity: 0.8;
}

/* QUALITY */
.quality-container {
    width: 1320px;
    margin: 0 auto;
    padding: 20px;
    margin: 168px auto;
}

.site-quality {
    display: flex;
    align-items: center;
    background-image: url(../img/aboutbitmap.png);
    background-size: cover;
    height: 474px;
    border-radius: 5px;
}

.quality-left {
    display: flex;
    flex-direction: column;
    padding: 88px 125px 176px 85px;
}

.quality-title {
    margin: 0;
    margin-bottom: 32px;
    width: 517px;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FEFCF7;
    cursor: pointer;
}

.quality-desc {
    margin: 0;
    width: 540px;
    font-family: Barlow;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    mix-blend-mode: normal;
    cursor: pointer;
}

.quality-desc:hover {
    opacity: 0.8;
}

.quality-img {
    margin-bottom: 168px;
    border-radius: 10px;
    width: 445px;
    height: 474px;
}

/* HEADQUARTERS  */
.headquarter-container {
    width: 1085px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-headquarter {
    display: flex;
    flex-direction: column;
}

.headquarter-title {
    margin: 0;
    margin-bottom: 72px;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
    cursor: pointer;
}

.headquarter-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.headquarter-item + .headquarter-item{
    margin-left: 95px;
}

.headquarter-include-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.headquarter-list-img {
    margin-bottom: 45px;
}

.headquarter-list-title {
    margin: 0;
    margin-bottom: 24px;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    cursor: pointer;
}

.headquarter-list-title:hover  {
    opacity: 0.8;
}

.headquarter-include-item {
    font-family: Barlow;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    cursor: pointer;
}